.webstudio_header{
    font-family: "Raleway";
    }
    .div_header{
        font-family: "Roboto";
    }
    .big_text{
        font-family: "Roboto";
    }
    .button{
        font-family: "Roboto";
    }
    .div_main_text{
        font-family: "Roboto";
    }
    .div_4img{
        font-family: "Roboto";
    }
    .webstudio_footer{
        font-family: "Raleway";
    }
    .footer_information{
        font-family: "Roboto";
    }